<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicStoreHNGrupo5" >
        <activity
            android:name=".Nada.confirmacambiocontrasena"
            android:exported="false"
            android:theme="@style/Theme.MusicStoreHNGrupo5" />
        <activity
            android:name=".Nada.codigoverificacioncuenta"
            android:exported="false"
            android:theme="@style/Theme.MusicStoreHNGrupo5" />
        <activity
            android:name=".CambiarcontraseñaActivity"
            android:exported="false"
            android:theme="@style/Theme.MusicStoreHNGrupo5" />
        <activity
            android:name=".buscarvideos"
            android:exported="false"
            android:theme="@style/Theme.MusicStoreHNGrupo5" />
        <activity
            android:name=".buscarprincipal"
            android:exported="false"
            android:theme="@style/Theme.MusicStoreHNGrupo5" />
        <activity
            android:name=".buscarmusica"
            android:exported="false"
            android:theme="@style/Theme.MusicStoreHNGrupo5" />
        <activity
            android:name=".audioselection"
            android:exported="false"
            android:theme="@style/Theme.MusicStoreHNGrupo5" />
        <activity
            android:name=".archivopersonales"
            android:exported="false"
            android:theme="@style/Theme.MusicStoreHNGrupo5" />
        <activity
            android:name=".agregarplaylistmusica"
            android:exported="false"
            android:theme="@style/Theme.MusicStoreHNGrupo5" />
        <activity
            android:name=".activities.pantallaprincipal"
            android:exported="false"
            android:theme="@style/Theme.MusicStoreHNGrupo5" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>